<!doctype html>
<html>
<body>
<script src="/keyauth.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<h1>KeystrokeAuth Login Demo</h1>

<form method="post" onsubmit="return loginSubmit()">
    Username: <input type="text" name="username" id="username"><br>
    Password: <input type="password" name="password" id="password" 
        onkeydown="pwKeyDown()" onkeyup="pwKeyUp()" onfocus="pwFocus()"><br>
    <input type="hidden" name="timings" id="keystrokes">
    <input type="submit" value="Submit">
</form>
<p id="output">Outputs:<br>[
</p>
{{output}}
<p>]</p>
</body>
{% if loginSuccess is defined %}
loginSuccess: {{loginSuccess}}
{% endif%}
<br>
{% if timingSuccess is defined %}
timingSuccess: {{timingSuccess}}
{% endif%}
</html>
